.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
}

.main .box, .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 300px;
    background-color: tomato;
    border-radius: 12px;
    color: white;
}
.input {
    background-color: rgb(145, 234, 129);
}
.showbox{
    width: 500px;
    min-height: 300px;
    border-radius: 12px;
    color: white;
    padding: 10px;
    background-color: rgb(238, 114, 31);

}

.main .box #button{
    background: white;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border-radius: 12px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .input{
    display: flex;
    flex-direction: column;
    gap: 10px;

} 
.container .input input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;

}
.container .input button{
    background: white;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
}

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
}